
.vs/proyectoSoft/FileContentIndex/0fc6942f-634f-43ba-a814-ca8c5db3bcbe.vsidx
.vs/proyectoSoft/FileContentIndex/03bc5aa7-6d67-43c1-a148-34175773c99f.vsidx
.vs/proyectoSoft/FileContentIndex/0844fe80-f317-4ddc-a771-03f3a155ec97.vsidx
.vs/proyectoSoft/FileContentIndex/0fc6942f-634f-43ba-a814-ca8c5db3bcbe.vsidx
.vs/proyectoSoft/FileContentIndex/0fc6942f-634f-43ba-a814-ca8c5db3bcbe.vsidx
.vs/proyectoSoft/FileContentIndex/0fc6942f-634f-43ba-a814-ca8c5db3bcbe.vsidx
.vs/proyectoSoft/FileContentIndex/faeca6f5-96aa-4cd5-994d-88a854b4e792.vsidx
