@{
    ViewBag.Title = "Página de Inicio";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
   
</head>
<div class="container mt-5">
    <section class="text-center mb-5">
        <h1 id="dunamisTitle">Sistema de Cotización de Cargas Dunamis</h1>
        <button id="startTutorial" class="btn btn-primary mt-3">Iniciar Tutorial</button>
    </section>

    <section class="card mx-auto" style="max-width: 800px;">
        <div class="card-header text-white bg-dark">
            <h2>Acerca de la Empresa</h2>
        </div>
        <div class="card-body">
            <p>
                DUNAMIS SA es una empresa de transporte especializada en la gestión de cargas de diversa índole, incluyendo carga fabril, perecedera, liviana y pesada.
            </p>
            <p>
                Nuestra misión es ofrecer un servicio eficiente y preciso, automatizando los cálculos de tarifas, descuentos, e impuestos, y generando reportes detallados para facilitar la toma de decisiones.
            </p>
            <p>
                Nos comprometemos a brindar una experiencia amigable para nuestros usuarios, incluso para aquellos con poca o ninguna experiencia en sistemas informáticos, asegurando una gestión de transporte sin errores y confiable.
            </p>
        </div>
    </section>
</div>

<style>
    body {
        background-color: #FCFDF4;
    }

    .card {
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        font-size: 1.5em;
        padding: 10px 20px;
    }

    .card-body {
        padding: 20px;
        font-size: 1.1em;
    }
</style>

