@{
    ViewBag.Title = "Facturas Guardadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/4.0.0/introjs.min.css" rel="stylesheet">
</head>

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Gestionar</a></li>
    <li class="breadcrumb-item active">Facturas Guardadas</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-file-invoice-dollar me-1"></i> Lista de Facturas Guardadas
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="window.location.href='@Url.Action("CargasCotizadas", "CotizarCarga")'">Nueva Factura</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre del Cliente</th>
                    <th>Primer Apellido del Cliente</th>
                    <th>Segundo apellido del Cliente</th>
                    <th>Tipo de Carga</th>
                    <th>Peso</th>
                    <th>Precio Por Peso</th>
                    <th>Total antes de impuestos y descuentos</th>
                    <th>Descuento aplicado</th>
                    <th>Total Comprobante</th>
                    <th>Cotizada Por</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <!-- Botón pequeño para iniciar el tutorial -->
        <button type="button" id="startTutorial" class="btn btn-info btn-sm ms-2">Iniciar Tutorial</button>
    </div>
</div>
@section Scripts {

    <script>
        var tabladata;
        $(document).ready(function () {
            tabladata = $("#tabla").DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("ListarFacturas", "Facturar")',
                    type: "GET",
                    datatype: "json",
                    success: function (data) {
                        console.log("Datos recibidos:", data);
                        tabladata.clear().rows.add(data.data).draw();
                    },
                    error: function (xhr, status, error) {
                        console.error("Error al obtener los datos:", status, error);
                    }
                },
                "columns": [
                    { "data": "NombreCliente" },
                    { "data": "Apellido1Cliente" },
                    { "data": "Apellido2Cliente" },
                    { "data": "TipoCarga" },
                    { "data": "Cantidad" },
                    {
                        "data": "PrecioPorPeso",
                        "render": function (data, type, row) {
                            return data.toLocaleString("es-CR", { style: "currency", currency: "CRC" });
                        } },
                    {
                        "data": "SubTotalGravado",
                        "render": function (data, type, row) {
                            return data.toLocaleString("es-CR", { style: "currency", currency: "CRC" });
                        } },
                    { "data": "TipoDescuento" },
                    {
                        "data": "TotalComprobante",
                        "render": function (data, type, row) {
                            return data.toLocaleString("es-CR", { style: "currency", currency: "CRC" });
                        } },
                    { "data": "Representante" },
                    {
                        "defaultContent": '<div class="btn-group">' +
                            '<button type="button" class="btn btn-primary btn-small btn-pdf"><i class="fas fa-file-pdf"></i></button>' +
                            '<button type="button" class="btn btn-danger btn-small ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>' +
                            '</div>',
                        "orderable": false,
                        "searchable": false,
                        "width": "200px"
                    }
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                }
            });

            $('#tabla tbody').on('click', '.btn-pdf', function () {
                var data = tabladata.row($(this).parents('tr')).data();
                generarPDF(data.DetalleFacturaID);
            });

            $('#tabla tbody').on('click', '.btn-eliminar', function () {
                var data = tabladata.row($(this).parents('tr')).data();
                eliminarFactura(data.DetalleFacturaID);
            });
        });

         function generarPDF(detalleFacturaID) {
            window.location.href = '@Url.Action("FacturarPDF", "Facturar")' + '/' + detalleFacturaID;
        }


        function eliminarFactura(detalleFacturaID) {
            swal({
                title: "¿Estás seguro?",
                text: "¡No podrás recuperar esta factura!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "¡Sí, bórrala!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: '@Url.Action("EliminarFactura", "Factura")',
                    type: "POST",
                    data: JSON.stringify({ detalleFacturaID: detalleFacturaID }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.resultado) {
                            tabladata.row($(this).parents('tr')).remove().draw();
                            swal("¡Eliminada!", "La factura ha sido eliminada.", "success");
                        } else {
                            swal("Error", data.mensaje, "error");
                        }
                    },
                    error: function (error) {
                        swal("Error", "Hubo un problema con la solicitud.", "error");
                    }
                });
            });
        }
    </script>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/4.0.0/intro.min.js"></script>

        <script>
            $(document).ready(function () {
                // Botón para iniciar el tutorial
                $('#startTutorial').click(function () {
                    introJs().setOptions({
                        steps: [
                            {
                                intro: "Bienvenido al tutorial de 'Facturas Guardadas'. Te guiamos a través del proceso de gestión de facturas guardadas."
                            },
                            {
                                element: '.btn-success',
                                intro: "Haz clic aquí para crear una nueva factura."
                            },
                            {
                                element: '#tabla',
                                intro: "Aquí se muestra la lista de todas las facturas guardadas."
                            },
                            {
                                element: '.btn-pdf',
                                intro: "Haz clic en este botón para generar un PDF de la factura seleccionada."
                            },
                            {
                                element: '.btn-eliminar',
                                intro: "Haz clic en este botón para eliminar la factura seleccionada."
                            },
                            {
                                intro: "Esto concluye el tutorial de gestión de facturas guardadas. ¡Gracias por tu atención!"
                            }
                        ],
                        showProgress: true,
                        exitOnOverlayClick: false,
                        exitOnEsc: true,
                        showStepNumbers: true,
                        nextLabel: 'Siguiente',
                        prevLabel: 'Anterior',
                        skipLabel: 'Salir',
                        doneLabel: 'Finalizar'
                    }).start();
                });
            });
        </script>
    }


