USE [Dunamis_SA]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarPersona]    Script Date: 16/07/2024 13:50:47 ******/

Create PROCEDURE [dbo].[sp_RegistrarPersona]
    @Cedula INT,
    @Nombre VARCHAR(255),
    @Apellido1 VARCHAR(255),
    @Apellido2 VARCHAR(255),
    @CorreoID INT, -- Asegúrate de que este parámetro esté definido
    @Resultado INT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO Persona (Cedula, Nombre, Apellido1, Apellido2, CorreoID)
        VALUES (@Cedula, @Nombre, @Apellido1, @Apellido2, @CorreoID);
        
        SET @Resultado = SCOPE_IDENTITY();
        SET @Mensaje = 'Persona registrada correctamente.';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END;

