@{
    ViewBag.Title = "Tipos de Carga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Administrar</a></li>
    <li class="breadcrumb-item active">Tipos de Carga</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-boxes me-1"></i> Lista de Tipos de Carga
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Agregar</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Tarifa por Kilo</th>
                    <th>Fecha de Registro</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Tipo de Carga</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="TiposDeCargaID" type="hidden" value="0" />

                <div class="row g-2">
                    <div class="col-12">
                        <h5>Detalles del Tipo de Carga</h5>
                    </div>
                    <div class="col-sm-12">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control validar-letras" id="nombre" autocomplete="off">
                    </div>
                    <div class="col-sm-12">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control validar-letras" id="descripcion" autocomplete="off">
                    </div>
                    <div class="col-sm-12">
                        <label for="tarifaPorKilo" class="form-label">Tarifa por Kilo</label>
                        <input type="number" class="form-control validar-numeros" id="tarifaPorKilo" autocomplete="off">
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert" style="display:none;">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script>
        var tabladata;

           tabladata = $("#tabla").DataTable({
        responsive: true,
        ordering: false,
        "ajax": {
            url: '@Url.Action("ListarTiposDeCarga", "Gestionar")',
            type: "GET",
            datatype: "json"
        },
        "columns": [
            { "data": "Nombre" },
            { "data": "Descripcion" },
            { "data": "TarifaPorKilo" },
            {
                "data": "FechaRegistro",
                "render": function(data, type, row) {
                    return moment(data).format('YYYY-MM-DD HH:mm:ss'); // Usar moment.js para formatear la fecha
                }
            },
            {
                "defaultContent": '<button type="button" class="btn btn-primary btn-small btn-editar"><i class="fas fa-pen"></i></button>' +
                                  '<button type="button" class="btn btn-danger btn-small ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                "orderable": false,
                "searchable": false,
                "width": "90px"
            }
        ],
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
        }
    });

        function abrirModal(json) {
            $("#TiposDeCargaID").val(0);
            $("#nombre").val("");
            $("#descripcion").val("");
            $("#tarifaPorKilo").val("");
            $("#mensajeError").hide();

            if (json != null) {
                $("#TiposDeCargaID").val(json.TiposDeCargaID);
                $("#nombre").val(json.Nombre);
                $("#descripcion").val(json.Descripcion);
                $("#tarifaPorKilo").val(json.TarifaPorKilo);
                $("#exampleModalLabel").text("Editar Tipo de Carga");
            } else {
                $("#exampleModalLabel").text("Agregar Tipo de Carga");
            }

            $("#FormModal").modal("show");
        }

        function Guardar() {
            var TipoDeCarga = {
                TiposDeCargaID: parseInt($("#TiposDeCargaID").val()),
                Nombre: $("#nombre").val(),
                Descripcion: $("#descripcion").val(),
                TarifaPorKilo: parseFloat($("#tarifaPorKilo").val())
            };

            $.ajax({
                url: '@Url.Action("GuardarTipoDeCarga", "Gestionar")',
                type: "POST",
                data: JSON.stringify({ objeto: TipoDeCarga }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.resultado != 0) {
                        tabladata.ajax.reload();
                        $("#FormModal").modal("hide");
                    } else {
                        $("#mensajeError").text(data.mensaje);
                        $("#mensajeError").show();
                    }
                },
                error: function (error) {
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();
                }
            });
        }

        $("#tabla tbody").on("click", ".btn-editar", function () {
            var filaseleccionada = $(this).closest("tr");
            var data = tabladata.row(filaseleccionada).data();
            abrirModal(data);
        });

        $("#tabla tbody").on("click", ".btn-eliminar", function () {
            var filaseleccionada = $(this).closest("tr");
            var data = tabladata.row(filaseleccionada).data();
            swal({
                title: "¿Estás seguro?",
                text: "¡No podrás recuperar este archivo imaginario!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "¡Sí, bórralo!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: '@Url.Action("EliminarTipoDeCarga", "Gestionar")',
                    type: "POST",
                    data: JSON.stringify({ id: data.TiposDeCargaID }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.resultado) {
                            tabladata.row(filaseleccionada).remove().draw();
                            swal("¡Eliminado!", "El tipo de carga ha sido eliminado.", "success");
                        } else {
                            swal("Error", data.mensaje, "error");
                        }
                    },
                    error: function (error) {
                        swal("Error", "Hubo un problema con la solicitud.", "error");
                    }
                });
            });
        });
    </script>
}
