@{
    ViewBag.Title = "Tipos de Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Administrar</a></li>
    <li class="breadcrumb-item active">Tipos de Pago</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-money-bill-wave me-1"></i> Lista de Tipos de Pago
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Agregar</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Tipo de Pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="TipoPagoID" type="hidden" value="0" />
                <div class="row g-2">
                    <div class="col-12">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" autocomplete="off">
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert" style="display:none;">
                            La descripción del tipo de pago no puede estar vacía.
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        var tabladata;

        $(document).ready(function () {
            tabladata = $("#tabla").DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("ListarTipoPago", "Gestionar")',
                    type: "GET",
                    datatype: "json"
                },
                "columns": [
                    { "data": "Descripcion" },
                    {
                        "defaultContent": '<button type="button" class="btn btn-primary btn-small btn-editar"><i class="fas fa-pen"></i></button>' +
                                          '<button type="button" class="btn btn-danger btn-small ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                }
            });
        });

        function abrirModal(json) {
            $("#TipoPagoID").val(0);
            $("#descripcion").val("");
            $("#mensajeError").hide();

            if (json != null) {
                $("#TipoPagoID").val(json.TipoPagoID);
                $("#descripcion").val(json.Descripcion);
                $("#exampleModalLabel").text("Editar Tipo de Pago");
            } else {
                $("#exampleModalLabel").text("Agregar Tipo de Pago");
            }

            $("#FormModal").modal("show");
        }

        function Guardar() {
            var TipoPago = {
                TipoPagoID: parseInt($("#TipoPagoID").val()),
                Descripcion: $("#descripcion").val()
            };

            if (TipoPago.Descripcion === "") {
                $("#mensajeError").show();
                return;
            } else {
                $("#mensajeError").hide();
            }

            $.ajax({
                url: '@Url.Action("GuardarTipoPago", "Gestionar")',
                type: "POST",
                data: JSON.stringify({ tipoPago: TipoPago }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.resultado) {
                        tabladata.ajax.reload();
                        $("#FormModal").modal("hide");
                    } else {
                        $("#mensajeError").text(data.mensaje);
                        $("#mensajeError").show();
                    }
                },
                error: function (error) {
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();
                }
            });
        }

        $("#tabla tbody").on("click", ".btn-editar", function () {
            var filaseleccionada = $(this).closest("tr");
            var data = tabladata.row(filaseleccionada).data();
            abrirModal(data);
        });

        $("#tabla tbody").on("click", ".btn-eliminar", function () {
            var filaseleccionada = $(this).closest("tr");
            var data = tabladata.row(filaseleccionada).data();
            swal({
                title: "¿Estás seguro?",
                text: "¡No podrás recuperar este archivo imaginario!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "¡Sí, bórralo!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: '@Url.Action("EliminarTipoPago", "Gestionar")',
                    type: "POST",
                    data: JSON.stringify({ tipoPagoID: data.TipoPagoID }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.resultado) {
                            tabladata.row(filaseleccionada).remove().draw();
                            swal("¡Eliminado!", "El tipo de pago ha sido eliminado.", "success");
                        } else {
                            swal("Error", data.mensaje, "error");
                        }
                    },
                    error: function (error) {
                        swal("Error", "Hubo un problema con la solicitud.", "error");
                    }
                });
            });
        });
    </script>
}
